/*Imports///////////////////////////////////////
/////////////////////////////////////////////*/
/*Colors///////////////////////////////////////
/////////////////////////////////////////////*/
/***** Default STYLES *************/
/**********************************/
/* line 16, ../scss/style.scss */
body {
  color: #333333;
}

/* line 19, ../scss/style.scss */
h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 2em;
  letter-spacing: 2px;
}

/* line 25, ../scss/style.scss */
h2 {
  font-weight: 300;
}

/* line 28, ../scss/style.scss */
p {
  line-height: 1.5em;
}

/* line 34, ../scss/style.scss */
img {
  display: block;
  padding: 0;
  margin: 0;
}

/* line 39, ../scss/style.scss */
a {
  text-decoration: none;
}

/* line 42, ../scss/style.scss */
ul {
  padding: 0;
  margin: 0;
}

/* line 46, ../scss/style.scss */
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1500px;
}

/* line 52, ../scss/style.scss */
.button {
  color: white;
  margin-top: 20px;
  padding: 10px 15px;
  border: 2px solid white;
  border-radius: 5px;
  transition: 1s ease all;
}
/* line 59, ../scss/style.scss */
.button:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 65, ../scss/style.scss */
.dropdown {
  display: none;
  position: fixed;
  top: 68px;
  right: 0px;
  width: 200px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
/* line 75, ../scss/style.scss */
.dropdown a {
  display: block;
  color: white;
  font-size: 0.9em;
}
/* line 79, ../scss/style.scss */
.dropdown a:hover {
  color: #ab2431;
}
/* line 84, ../scss/style.scss */
.dropdown ul {
  list-style: none;
}
/* line 87, ../scss/style.scss */
.dropdown li {
  padding: 10px;
}

/* line 92, ../scss/style.scss */
.subpage-background {
  background-image: url("../img/sub-background.jpg");
  top: 0;
  height: 450px;
  text-align: center;
  background-position: center center;
  background: contain;
}
/* line 100, ../scss/style.scss */
.sound .subpage-background {
  background-image: url("../img/sound.jpg");
  background-position: center top;
}
/* line 104, ../scss/style.scss */
.voip .subpage-background {
  background-image: url("../img/voip.jpg");
}
/* line 107, ../scss/style.scss */
.data .subpage-background {
  background-image: url("../img/cabling.jpg");
}
/* line 110, ../scss/style.scss */
.it .subpage-background {
  background-image: url("../img/it.jpg");
}
/* line 114, ../scss/style.scss */
.subpage-background h1 {
  padding: 160px 0 20px 0;
  margin: 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4em;
  text-shadow: 1px 1px #333333;
}
/* line 122, ../scss/style.scss */
.subpage-background a {
  margin: 50px;
  text-align: center;
}

/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 131, ../scss/style.scss */
.clearfix {
  zoom: 1;
}
/* line 133, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 137, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/***** SITE STYLES *************/
/**********************************/
/* line 145, ../scss/style.scss */
.main-nav {
  display: none;
}

/* line 149, ../scss/style.scss */
.navigation-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
/* line 155, ../scss/style.scss */
.navigation-bar img {
  padding: 13px 0px 13px 5%;
  width: 100px;
  max-width: 120px;
  float: left;
}
/* line 161, ../scss/style.scss */
.navigation-bar .menu-icon {
  padding: 32px 5% 0px 5%;
  width: 85px;
  float: right;
}

/* line 167, ../scss/style.scss */
.crosscover-overlay {
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 169, ../scss/style.scss */
.crosscover-overlay h2 {
  margin-bottom: 30px;
  font-size: 1.4em;
}

/* line 174, ../scss/style.scss */
.crosscover-island {
  position: absolute;
  top: 160px;
}

/* line 178, ../scss/style.scss */
.crosscover-item {
  background-position: center top;
}
/* line 180, ../scss/style.scss */
.crosscover-item h1 {
  color: white;
  padding-top: 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8em;
  font-weight: 600;
  text-shadow: 1px 2px #333333;
  margin-bottom: 14px;
  z-index: 5000;
  text-align: center;
}

/* line 192, ../scss/style.scss */
.home-image {
  z-index: -1000;
}

/* line 195, ../scss/style.scss */
.subpage-template {
  padding: 25px 3% 40px 3%;
}
/* line 197, ../scss/style.scss */
.subpage-template h1 {
  font-size: 2em;
  margin: 40px 0 20px 0px;
  text-transform: uppercase;
}
/* line 202, ../scss/style.scss */
.subpage-template span {
  color: #ab2431;
}
/* line 205, ../scss/style.scss */
.subpage-template h2 {
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: 300;
}
/* line 210, ../scss/style.scss */
.subpage-template h3 {
  font-size: 1.2em;
  font-weight: 500;
  color: #ab2431;
}
/* line 215, ../scss/style.scss */
.subpage-template ul {
  padding: 20px 40px;
  line-height: 2em;
}
/* line 219, ../scss/style.scss */
.subpage-template a {
  color: #ab2431;
}

/* line 224, ../scss/style.scss */
.midsection h1 {
  margin: 40px 0 20px 0px;
  text-align: center;
  text-transform: uppercase;
}
/* line 229, ../scss/style.scss */
.midsection span {
  color: #ab2431;
}
/* line 232, ../scss/style.scss */
.midsection h2 {
  font-size: 1.3em;
  text-align: center;
  padding: 20px 0 30px 0px;
  font-family: 'Raleway', sans-serif;
}
/* line 238, ../scss/style.scss */
.midsection h3 {
  font-size: 1.2em;
  font-weight: 600;
  color: #ab2431;
}
/* line 243, ../scss/style.scss */
.midsection p {
  font-family: sans-serif;
}

/* line 249, ../scss/style.scss */
.solutions a {
  color: #333333;
  display: block;
  margin-bottom: 40px;
  padding: 20px;
  -webkit-box-shadow: 0 0 16px 6px rgba(204, 202, 204, 0.6);
  -moz-box-shadow: 0 0 16px 6px rgba(204, 202, 204, 0.6);
  box-shadow: 0 0 16px 6px rgba(204, 202, 204, 0.6);
}
/* line 258, ../scss/style.scss */
.solutions img {
  margin: 0 auto;
  width: 50%;
  max-width: 220px;
}
/* line 263, ../scss/style.scss */
.solutions p {
  padding-right: 3%;
}

/* line 267, ../scss/style.scss */
.clients {
  background-image: url("../img/city.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 40px;
  margin: 20px 0px 0px 0px;
}
/* line 274, ../scss/style.scss */
.clients h1 {
  text-align: center;
  color: white;
}
/* line 278, ../scss/style.scss */
.clients span {
  color: #333333;
}
/* line 281, ../scss/style.scss */
.clients img {
  width: 55%;
  margin: 0 auto;
  max-width: 200px;
  opacity: 0.8;
  padding: 25px;
}
/* line 288, ../scss/style.scss */
.clients ul {
  list-style: none;
}

/* line 292, ../scss/style.scss */
.quotes {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0 40px 0;
}
/* line 296, ../scss/style.scss */
.quotes p {
  text-align: center;
  font-family: 'Raleway';
  font-size: 1.3em;
}
/* line 301, ../scss/style.scss */
.quotes h3 {
  text-align: center;
  font-family: 'Montserrat';
  font-size: 1.3em;
  font-weight: 300;
  float: left;
}
/* line 308, ../scss/style.scss */
.quotes span {
  color: #ab2431;
}
/* line 311, ../scss/style.scss */
.quotes img {
  width: 20%;
  max-width: 50px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* line 320, ../scss/style.scss */
.contact {
  padding: 20px 0;
}

/* line 324, ../scss/style.scss */
footer {
  padding: 40px;
  color: white;
  background-color: #333333;
}
/* line 328, ../scss/style.scss */
footer img {
  width: 50%;
  max-width: 175px;
  margin: 0 auto;
  padding-right: 5%;
}
/* line 334, ../scss/style.scss */
footer h3 {
  font-family: arial;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}
/* line 340, ../scss/style.scss */
footer h4 {
  font-size: 0.7em;
  text-align: center;
  letter-spacing: 1px;
}
/* line 345, ../scss/style.scss */
footer a {
  display: block;
  text-align: center;
  color: white;
  line-height: 1.2em;
  line-height: 1.5em;
}

@media screen and (min-width: 625px) {
  /* line 355, ../scss/style.scss */
  .navigation-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
  }
  /* line 361, ../scss/style.scss */
  .navigation-bar img {
    padding: 13px 0px 13px 5%;
    width: 130px;
  }

  /* line 366, ../scss/style.scss */
  .dropdown {
    top: 76px;
  }

  /* line 369, ../scss/style.scss */
  .crosscover-island {
    top: 240px;
  }

  /* line 373, ../scss/style.scss */
  .crosscover-item h1 {
    font-size: 3em;
    padding-top: 140px;
  }

  /* line 379, ../scss/style.scss */
  .subpage-background h1 {
    font-size: 3em;
  }

  /* line 383, ../scss/style.scss */
  .solutions {
    text-align: center;
  }
  /* line 385, ../scss/style.scss */
  .solutions a {
    box-sizing: border-box;
    display: inline-block;
    width: 41%;
    margin-left: 4%;
    margin-right: 4%;
    vertical-align: top;
  }
  /* line 392, ../scss/style.scss */
  .solutions a:hover {
    opacity: 0.8;
  }
  /* line 397, ../scss/style.scss */
  .solutions img {
    width: 70%;
  }

  /* line 402, ../scss/style.scss */
  .quotes div {
    width: 90%;
    margin: 0 auto;
  }
  /* line 406, ../scss/style.scss */
  .quotes h3 {
    text-align: center;
  }
  /* line 409, ../scss/style.scss */
  .quotes img {
    display: inline-block;
    padding-left: 2.5%;
  }
}
@media screen and (min-width: 830px) {
  /* line 418, ../scss/style.scss */
  .menu-icon {
    display: none;
  }

  /* line 421, ../scss/style.scss */
  .dropdown {
    right: 13.5%;
  }

  /* line 425, ../scss/style.scss */
  .main-nav {
    display: block;
    font-family: 'Raleway', sans-serif;
  }
  /* line 428, ../scss/style.scss */
  .main-nav ul {
    list-style: none;
    float: right;
    padding: 28px 5% 0px 0px;
  }
  /* line 433, ../scss/style.scss */
  .main-nav li {
    display: inline-block;
    padding: 5px;
  }
  /* line 436, ../scss/style.scss */
  .main-nav li:hover {
    color: #ab2431;
    border-bottom: 2px solid #ab2431;
  }
  /* line 440, ../scss/style.scss */
  .main-nav li:nth-child(2) {
    position: relative;
  }
  /* line 444, ../scss/style.scss */
  .main-nav a {
    color: white;
    font-family: 'Montserrat';
    padding: 5px;
  }
  /* line 448, ../scss/style.scss */
  .main-nav a:hover {
    opacity: 0.8;
  }

  /* line 453, ../scss/style.scss */
  .crosscover-island {
    top: 200px;
  }

  /* line 457, ../scss/style.scss */
  .crosscover-item h1 {
    font-size: 3em;
    padding-top: 100px;
  }

  /* line 463, ../scss/style.scss */
  .clients li {
    width: 19%;
    display: inline-block;
  }
  /* line 467, ../scss/style.scss */
  .clients img {
    width: 70%;
  }

  /* line 472, ../scss/style.scss */
  .quotes div {
    width: 52%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 480, ../scss/style.scss */
  footer a:hover, footer h4:hover {
    opacity: 0.8;
  }
}
@media screen and (min-width: 1400px) {
  /* line 489, ../scss/style.scss */
  .dropdown {
    right: 10%;
  }

  /* line 493, ../scss/style.scss */
  .solutions a {
    width: 22%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 10px;
    min-height: 480px;
  }
  /* line 500, ../scss/style.scss */
  .solutions a:hover {
    opacity: 0.8;
  }

  /* line 505, ../scss/style.scss */
  .crosscover-island {
    top: 340px;
  }

  /* line 509, ../scss/style.scss */
  .crosscover-item h1 {
    font-size: 3.2em;
    padding-top: 240px;
  }
}
